<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <!--配置spring中央控制器-->
  <servlet>
    <servlet-name>facekq-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--配置springmvc需要加载的配置文件
        spring-dao.xml
        spring-service.xml
        spring-web.xml
    -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-*.xml</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>facekq-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>



</web-app>
